page-login {
    ion-content{
        height: 100%;
    }
    ion-card{
        margin-top: 20% !important;
        ion-card-header{
            text-align: center;
            font-size: 36px !important;
        }

    }
}
