<ion-header>
  <ion-navbar color="#66ccff">
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="buttons-components-page">
  <ion-row *ngIf="spinner">
    <ion-col text-center>
        <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let item of invites">
    <div class="images">
      <img src="{{item.ordpic}}" />
    </div>
      <ion-card-content>
        <ion-card-title>
            {{item.title}}
        </ion-card-title>
        <p>{{item.content}}</p>
     </ion-card-content>
      <ion-item>
        <button ion-button clear item-start>{{item.uname}}</button>
        <button ion-button clear item-end>{{item.destime}}</button>
      </ion-item>
  </ion-card>
</ion-content>


